<div class="app-header" fxLayout="row" fxLayoutAlign="start center">
  <!-- <img src="assets/images/lixil.png" width="130" height="40" alt="logo" routerLink="/"> -->
  <h1>Demand ML</h1>
  <!-- <button mat-stroked-button color="primary" (click)="saveData()">Save</button> -->
  <div style="flex: 1;"></div>
  <!-- <button mat-stroked-button color="primary" routerLink="export">Export</button>
  <button mat-icon-button aria-label="User Roles" routerLink="user-management">
    <mat-icon>account_circle</mat-icon>
  </button> -->
  <button  mat-icon-button aria-label="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</div>