<mat-toolbar>
  <img class="sprites-headerLogo" src="../../../assets/images/myntra2.png" alt="myntra logo">

  <div class="desktop-main" style="display: flex; flex-direction: row; margin-left: 50px;">
    <div (mouseover)="mouseHover();">
      <a>
        <span>MEN</span>
      </a>
    </div>
    <div><a><span>WEMEN</span></a></div>
    <div><a><span>KIDS</span></a></div>
    <div><a><span>HOME & LIVING</span></a></div>
    <div><a><span>BEAUTY</span></a></div>
    <div><a><span>STUDIO</span></a></div>

    <div class="desktop-query">
      <input class="inpt" placeholder="Search for products, brands and more">
      <a>
        <mat-icon class="desktop-submit">search</mat-icon>
      </a>
    </div>
  </div>

  <span class="example-spacer"></span>

  <div class="desktop-actions">
    <div>
      <mat-icon class="desktop-iconUser">perm_identity</mat-icon>
      <span class="desktop-userTitle">Profile</span>
    </div>

    <div>
      <mat-icon class="desktop-iconUser">favorite_border</mat-icon>
      <span class="desktop-userTitle">Wishlist</span>
    </div>

    <div>
      <mat-icon class="desktop-iconUser" style="background-color: white;">shopping_bag</mat-icon>
      <span class="desktop-userTitle">Bag</span>
    </div>
  </div>

</mat-toolbar>